In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("Friend_Training_.csv")

In [3]:
df.head()

,Person_1,Person_2,Friends,Years_Known,Type_Of_Interaction,Duration_Of_Interaction,Moon_Phase
0,Eric,Rachel,True,1.65,Class,0.00,Waxing_Gibbous
1,Justin,Helen,False,1.94,Over a Meal,7.29,First_Quarter
2,Austin,Theresa,False,1.28,Over a Meal,6.08,Waxing_Gibbous
3,Robert,Rebecca,False,0.00,At Work,7.35,Full_Moon
4,Jesse,Kathleen,True,3.41,Over a Meal,9.82,Waxing_Gibbous